* {
    margin: 0;
}
a {
    text-decoration: none;
}
.header {
    background-image: url("../img/main_background.jpg");
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_article {
    background: #E5E5E5;
}
.menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 20px 0px;
}
.menu_color {
    background: rgba(35, 47, 56, 0.6);
}
.menu__logo {
    font: 26px/26px 'Lora';
    color: #FFFFFF;
}
.menu__logo_color {
    color: #2E2E2E;
}
.navigation {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: flex-end;
}
.navigation__unit {
    height: 20px;
    text-transform: uppercase;
    font: 12px/20px 'Oxygen';
    color: #FFFFFF;
}
.navigation__unit_black {
    color: #2E2E2E;
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.intro__title {
    height: 51px;
    font: 50px/51px 'Lora';
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 20px;
}
.intro__title_color {
    color: #2E2E2E;
}
.intro__subhead {
    height: 20px;
    font: 17px/20px 'Oxygen';
    color: rgba(255, 255, 255, 0.63);
    margin-bottom: 30px;
}
.intro__subhead_color {
    color: #2E2E2E;
}
.intro__button {
    font: 13px/20px 'Oxygen';
    color: #FFFFFF;
    background-color: #DD783F;
    border-radius: 3px;
    width: 87px;
    padding: 6px 9px 7px 9px;
    text-align: center;
}
.article__image {
    width: 100%;
}
.article__text {
    margin: 140px 240px 135px 240px;
}
.article__paragraph {
    margin-bottom: 35px;
}
.section {
    display: flex;
    background: #F7F7F7;
    font: 14px/35px 'Oxygen';
    color: #101315;
    flex-direction: column;
    align-items: center;
}
.section__categories {
    height: 65px;
    width: 100%;
    display: flex;
    background: #FFFFFF;
    font: 14px/20px 'Lora';
    color: #768088;
    justify-content: center;
    align-items: center;
}
.nav__categories {
    display: flex;
    justify-content: space-between;
    width: 840px;    
}
.nav__category {
    font: 14px/20px 'Lora';
    color: #768088;
}
.section__featured-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__most-recent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 108px;
}
.section__title {
    font: 20px/27px 'Oxygen';
    letter-spacing: 2px;
    color: #2E2E2E;
    padding: 0px 16px 16px 16px;
    margin: 60px 0px 23px 0px;
    border-bottom: 1px solid #DEDEDE
}
.featured-posts {
    display: flex;
    width: 940px;
    justify-content: space-between;
}
.most-recent {
    display: flex;
    width: 940px;
    height: 650px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.featured-posts__article {
    height: 280px;
    width: 460px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: flex-end;
    background-size: cover;
}
.featured-post_first {
    background-image: url("/static/img/The_Road_Ahead.jpg");
    margin-right: 10px;
}
.featured-post_second {
    background-image: url("/static/img/From_Top_Down.jpg");
    margin-left: 10px;
    display: flex;   
    justify-content: space-between;
}
.featured-posts__title {
    font: 27px/30px 'Lora';
    margin-bottom: 6px;
    color: #FFFFFF;
}
.featured-posts__text {
    font: 14px/25px 'Oxygen';
}
.featured-posts__categories {
    display: flex;
    text-transform: uppercase;
    font: 12px/13px 'Oxygen';
    color: #FFFFFF;
    background-color: #DD783F;
    padding: 6px 9px 7px 9px;
    width: 69px;
}
.featured-posts__signature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 17px;
}
.signature {
    display: flex;
    align-items: center;
}
.signature__name, .signature__data {
    font: 12px/35px 'Oxygen';
}
.signature__name {
    margin-left: 10px;
}
.most-recent__article {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 296px;
    width: 291px;
    background: #FFFFFF;
}
.most-recent__title {
    font: 16px/21px 'Lora';
    color: #101315;
    padding: 0px 13px;
}
.most-recent__text {
    font: 13px/19px 'Oxygen';
    color: #7A7A7A;
    padding: 0px 13px;
}
.most-recent_signature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 13px;
    border-top: 1px solid #EFEFEF;;
}
.footer {
    background-image: url("../img/footer_background.png");
    background-size: cover;
    height: 378px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.contact__title {
    font: 25px/30px 'Oxygen';
    padding-bottom: 17px;
    margin-bottom: 20px;
    border-bottom: 1px solid #DEDEDE;
    color: #EFEFEF;
}
.contact__email {
    border: none;
    padding: 0 35px;
    height: 50px;
    width: 340px;
    font: 12px/14px 'Oxygen';
}
.contact__email::placeholder {
    font: normal 400 12px/14px 'Roboto', serif;
    color: #817F83;
    padding: 18px 20px 18px 0px;
}
.contact_button {
    border: none;
    padding: 0px;
    height: 50px;
    width: 125px;
    font: 12px/14px 'Oxygen';
    color: #F8F8F8;
    background-color: rgba(255, 255, 255, 0.28);
}
.navigation__unit_color {
    color: rgba(255, 255, 255, 0.6);
}

